/* #timer{
    font-size: 130px; 
    
}
       

 

.hide{
    display: none;
}

.block{
    width: 250px;
    height: 250px;
    border: black solid 2px;
    background-image: url(https://avatars.mds.yandex.net/get-pdb/881477/1da12af1-1bfe-4e0d-b1fd-00469b1aa729/s1200);
}

.block_delete{
display: none;
} */